<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<title>MercadoLiebre</title>
</head>
<body class = "home">
    <header>
        <img class = "logo" src="/imagen/logo-mercado-liebre.svg" alt="">
        <div>
            <form action=""><input type="text" placeholder="Buscar productos, marcas"><button><i class="fas fa-search"></i>
            </button></form>
        </div >
        <div class = "Compra-sin-tarjeta">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjta de crédito
        </div>
        <nav>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/">Crear tu Cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href="/">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div>
            <button class = "boton-menu"><i class="fas fa-bars"></i></button>
        </div>
    </header>
    <main>
        <section class = "banner">
            <img src="/imagen/img-home-banner.jpg" alt="">
        </section>

            <h2 class = "Visita-Oferta">Basado en tu ultima visita</h2>
            
        <section>
            <article>
                <img src="/imagen/img-cafetera-moulinex.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$6.770</p>
                    <p class = "descuentos" >40% OFF</p>
                    <h3 class = "descripcion" >Cafetera Moulinex</h3>
                </div>

            </article>
            <article>
                <img src="/imagen/img-macbook-pro-2019.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$230.000</p>
                    <p class = "descuentos" >20% OFF</p>
                    <h3 class = "descripcion" >MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/imagen/img-samsung-galaxy-s10.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$70.500</p>
                    <p class = "descuentos" >10% OFF</p>
                    <h3 class = "descripcion" >Samsung Galaxy S10</h3>
                </div>

            </article>
            <article>
                <img src="/imagen/img-tv-samsung-smart.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$23.200</p>
                    <p class = "descuentos" >10% OFF</p>
                    <h3 class = "descripcion" >SmartTv Samsung 43</h3>
                </div>
            </article>
        </section>

            <h2 class = "Visita-Oferta">Seccion de Ofertas</h2>

        <section>
            <article>
                <img src="/imagen/img-cafetera-moulinex.jpg" width = "320px" alt = "">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$6.770</p>
                    <p class = "descuentos" >40% OFF</p>
                    <h3 class = "descripcion" >Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img src="/imagen/img-macbook-pro-2019.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$230.000</p>
                    <p class = "descuentos" >20% OFF</p>
                    <h3 class = "descripcion" >MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img src="/imagen/img-samsung-galaxy-s10.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$70.500</p>
                    <p class = "descuentos" >10% OFF</p>
                    <h3 class = "descripcion" >Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img src="/imagen/img-tv-samsung-smart.jpg" width = "320px" alt="">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class = "precios" >$23.200</p>
                    <p class = "descuentos" >10% OFF</p>
                    <h3 class = "descripcion" >SmartTv Samsung 43</h3>
                </div>
            </article>
        </section>
    </main>
    <footer width = "320px">
        <section >
            <article>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <i class="fas fa-gift"></i>
                <h4>Envío Gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin
                </h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <p class = "Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>